.form-section {
    outline: 3px solid wheat;
    margin: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
    background-color: #292929;
    width: fit-content;
    padding: 5px;
    transform: translate(0%, -50%);
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.input-field{
    width: 50vw;
}


.tbl-act-del,
.tbl-act-edit {
    background-color: wheat;
    padding: .6em;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.tbl-act-del:hover {
    background-color: red;
}

.tbl-act-edit:hover {
    background-color: orange;
}

.error {
    color: red;
}

.table-section {
    display: flex;
    justify-content: center;
}

table {
    margin-top: 2rem;
}

th,
td {
    padding: 1rem;
}

th {
    border-bottom: 2px solid wheat;
}

.image-uploader {
    font-size: 1.5rem;

}

.success {
    color: green;
    font-weight: 600;
}

.project-img {
    width: 300px;
    margin: auto;
}

@media screen and (width<600px) {

    input,
    textarea {
        width: 100%;
        font-size: 2rem;
    }
    .form{
        padding: 5px;
    }
}